
# mg_pswd_cluster0  =

PORT =
MONGODB_URL =

# CORS_ORIGIN_ONE =
CORS_ORIGIN_ALL =

ACCESS_TOKEN_SECRET =
ACCESS_TOKEN_EXPIRY =
REFRESH_TOKEN_SECRET =
REFRESH_TOKEN_EXPIRY =

# 2 hours only
COOKIE_EXPIRY =

# Cloudinary djanju410
CLOUD_NAME =
CLOUD_API_KEY =
CLOUD_API_SECRET  =

# Cloudinary madbogati13
# CLOUD_NAME =
# CLOUD_API_KEY =
# CLOUD_API_SECRET =
# CLOUDINARY_URL =


# Image kit cloud 
Ik_cloudName =
IK_publicKey =
IK_privateKey =
IK_urlEndpoint =

# sendEmail: recovery password
SMTP_SERVICE =
SMTP_MAIL =
SMTP_PSWD =
SMTP_HOST =
SMTP_PORT =